---
layout: default
---
<section class="Header">
  <h1>Zero-Based</h1>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolorem quaerat nisi, exercitationem ducimus ratione, ex voluptatibus cumque eaque accusamus praesentium dolor magni officiis ipsa. Similique, repellendus porro! Nemo ipsa doloribus rem dolorum vitae. Temporibus perferendis suscipit excepturi odit exercitationem in eius obcaecati esse facilis amet, iure et sit, id sed nostrum officia culpa! Rerum enim excepturi, laborum temporibus quam qui numquam veniam odit?</h4>
</section>

<section class="CardsContainer">
  {% for project in site.data.projects %}
    {% include project-card.html %}
  {% endfor %}
</section>