html,
body {
  height: 100%;
  background: $black;
  color: $white;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

svg {
  fill: $white;
}

a {
  color: $white;
  text-decoration: none;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 200;
}

h4 {
  color: $gray;
  font-weight: 200;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;

  &-track {
    background: $black;
  }

  &-thumb {
    background: $white;
  }
}
