<table class="ArchiveTable">
  <tr>
    <th>Year</th>
    <th>Title</th>
    <th class="ArchiveTable--hideOnMobile">Event</th>
    <th class="ArchiveTable--hideOnMobile">Tools</th>
    <th class="ArchiveTable--hideOnMobile">Awards</th>
    <th class="ArchiveTable-links">Links</th>
  </tr>
  {% assign sorted = site.data.projects  | sort: 'date' %}
  {% for project in sorted reversed %}
  <tr>
    <td>{{ project.date | date: "%Y" }}</td>
    <td>{{ project.title }}</td>
    <td class="ArchiveTable--hideOnMobile">{{ project.event | default: '-' }}</td>
    <td class="ArchiveTable--hideOnMobile">{{ project.tools | join: ' • '}}</td>
    <td class="ArchiveTable--hideOnMobile">{{ project.award | default: '-' }}</td>
    <td class="ArchiveTable-links">
      {% include icons/icon.html icon="Website" url=project.website %}
      {% include icons/icon.html icon="GitHub" url=project.github %}
    </td>
  </tr>
  {% endfor %}
</table>