<div class="ProjectCard--container wow fadeIn slow" data-wow-delay="{{ delay }}s">
  <div class="ProjectCard--outline"></div>
  <div class="ProjectCard ProjectCard--outline">
    <div class="ProjectCard-header">
      <div>
        <h1 class="ProjectCard-title">{{ project.title }}</h1>
        <h4>{{ project.event }}</h4>
        <h4>{{ project.date }}</h4>
      </div>
      <div class="ProjectCard-icons">
        {% include icons/icon.html icon="GitHub" url=project.github %}
        {% include icons/icon.html icon="Award" tooltip=project.award %}
        {% include icons/icon.html icon="Website" url=project.website %}
      </div>
    </div>

    <p class="ProjectCard-body">{{ project.description }}</p>

    <div class="ProjectCard-footer">
      <div class="ProjectCard-contributors">
        {% for contributor in project.contributors %}
        {% assign info = site.data.team[contributor] %}
        <a href="https://github.com/{{ info.username }}" aria-label="@{{ info.username }}" data-balloon-pos="down">
          <img src="{{ info.img }}" alt="@{{ info.username }}" />
        </a>
        {% endfor %}
      </div>

      <h4 class="ProjectCard-tools">{{ project.tools | join: " " }}</h4>
    </div>

  </div>

</div>