.Alert {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;

  padding: 24px;
  background-color: white;

  * {
    color: black;
    margin: 0 6px;
  }

  &-close {
    padding: 4px;
    font-size: 26px;
    line-height: 0;
    cursor: pointer;
  }

  &--hidden {
    display: none;
  }
}
