.ProjectCard {
  display: flex;
  flex-direction: column;
  border: $border-x2;
  padding: 48px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &-body {
    margin: 32px 0;
  }

  &-footer {
    margin-top: auto;
  }

  &-logo svg {
    width: 48px;
  }

  &-icons svg {
    margin-left: 4px;
    width: 24px;
  }

  &-title {
    margin-bottom: 4px;
  }

  &-contributors img {
    width: 24px;
    border-radius: 50%;
    border: $border-x1;
  }

  &-tools {
    margin-top: 24px;
    word-spacing: 8px;
  }
}
