.ProjectCard {
  display: flex;
  flex-direction: column;
  padding: 48px;
  background-color: $black;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: flex-start;
  }

  &-body {
    margin: 32px 0;
  }

  &-footer {
    margin-top: auto;
  }

  &-icons svg {
    margin-left: 4px;
    width: 24px;
  }

  &-title {
    margin-bottom: 4px;
  }

  &-contributors img {
    width: 24px;
    border-radius: 50%;
    border: $border-x1;
  }

  &-tools {
    min-height: 35px;
    margin-top: 24px;
  }

  &--container {
    display: grid;
  }

  &--outline {
    grid-area: 1 / 1;
    border: $border-x2;
  }

  transition: transform 0.32s;
  &:hover {
    transform: translate(-16px, -16px);
  }
}
