body {
  background: $black;
  padding: 0 10vw;
}

* {
  color: $white;
  fill: $white;
  text-decoration: none;
}

@include headings {
  margin: 0;
}

@include headings(4, 6) {
  color: $gray;
}

::selection {
  background: $white;
  color: $black;
}

::-moz-selection {
  background: $white;
  color: $black;
}
