html, body {
  /* Disable horizontal scrolling */
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;

  &-thumb {
    background: $white;
  }

  &-track {
    background: $black;
  }
}
