@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

@include headings {
  font-weight: 200;
}

@include headings(1, 3) {
  font-family: "Playfair Display", serif;
}